
body	{ background: #eeeeee; font-family: 'Source Sans Pro'; font-weight: 300; }
* { margin: 0; padding: 0;}
header { background: #fff; padding: 10px 0; width: 100%; }
header img	{ width: 44px; height:44px; position:absolute; margin: 5px 0 0 -60px;}
header h1	{ color: #cbb266; font-size: 35px; font-weight: 300; position: absolute; margin-left: 60px; }
nav	{ text-align: right; }
a.button	{ background: #cbb266; color: #fff; text-decoration: none; padding: 5px 10px; margin: 7px 0 ; display: inline-block; font-weight: 300; }
a.button:hover	{ background: #dbc276; }
a.button:active  { background: #bba256; }


blockquote	{ font-size: 50px; }
blockquote#trove-mission	{ text-align: right; }
